<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
	<!-- Use this file to override app settings in the web.config file.	-->
	<!-- Sandbox -->
	<add key="app:id" value="12335" />
	<add key="app:secret" value="20016bf3d3de48c2a58fff4ed7997183" />
	<add key="platform:syw-site-url" value="http://sandbox.shopyourway.com/"/>
	<add key="platform:api-url" value="https://sandboxplatform.shopyourway.com/"/>
	<add key="platform:secured-api-url" value="https://sandboxplatform.shopyourway.com/"/>
</appSettings>