<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
	<!-- Use this file to override app settings in the web.config file.	-->
	<!-- Local -->
	<add key="app:id" value="4600"/>
	<add key="app:secret" value="cba6800217b34464a1c32d2d3a3b25fb"/>
	<add key="platform:syw-site-url" value="http://ohio.local/"/>
	<add key="platform:api-url" value="http://ohio.platform:88/"/>
	<add key="platform:secured-api-url" value="http://ohio.platform:88/"/>		
</appSettings>