<log4net debug="false">
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1"/>
		<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
		<connectionString value="data source=localhost;Port=3306;Database=shopyourwaysync_log;Uid=root;Pwd=MF12345;use procedure bodies=false;charset=utf8"/>
		<commandText value="INSERT INTO log (date,thread,level,logger,message,exception,requestUrl,requestContent,clientIP,userId,hash,token) VALUES (?date, ?thread, ?level, ?logger, ?message, ?exception, ?requestUrl, ?requestContent, ?clientIP, ?userId, ?hash, ?token)"/>
		<parameter>
			<parameterName value="date"/>
			<dbType value="DateTime"/>
			<layout type="log4net.Layout.RawTimeStampLayout"/>
		</parameter>
		<parameter>
			<parameterName value="thread"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="level"/>
			<dbType value="String"/>
			<size value="50"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="logger"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="message"/>
			<dbType value="String"/>
			<size value="4000"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="exception"/>
			<dbType value="String"/>
			<size value="2000"/>
			<layout type="log4net.Layout.ExceptionLayout"/>
		</parameter>
		<parameter>
			<parameterName value="userId"/>
			<dbType value="String"/>
			<size value="50"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{userId}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="hash"/>
			<dbType value="String"/>
			<size value="250"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{hash}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="token"/>
			<dbType value="String"/>
			<size value="250"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{token}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="requestUrl"/>
			<dbType value="String"/>
			<size value="2000"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{requestUrl}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="clientIP"/>
			<dbType value="String"/>
			<size value="20"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{clientIP}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="requestContent"/>
			<dbType value="String"/>
			<size value="4000"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{requestContent}"/>
			</layout>
		</parameter>
	</appender>
	<root>
		<priority value="ALL"/>
		<appender-ref ref="AdoNetAppender"/>
	</root>
	<category name="NHibernate">
		<priority value="ERROR"/>
	</category>
</log4net>